.title {
  font-size: 20px;
  color: rgb(136, 136, 136);
  text-transform: uppercase;
}

.form {
  display: flex;
  gap: 32px;
  margin-top: 20px;
}

input {
  width: 100%;
  height: 2.5rem;
  padding-left: 12px;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid rgb(232, 232, 232);
}

.add-btn {
  cursor: pointer;
  border: none;
  background-color: #0290ff;
  border-radius: 3px;
  padding: 8px 24px;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  height: 2.5rem;
}
